.contact-us-wrap{width:100%;max-width:1440px;box-sizing:border-box;padding:20px;display: flex;justify-content: center;align-items: center;column-gap:20px;}
.contact-us-wrap .heading{display: flex;flex-direction: column;flex:0 0 20%;align-items: center;color: blue;}
.contact-details-wrap{display: flex;flex-direction:column;row-gap:20px;flex:1;}
.contact-details-wrap .email-wrap{display: flex;column-gap: 18px;box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);background-color: #fff;padding: 10px;border-radius: 20px;align-items: center;}
.contact-details-wrap .phone-wrap{display: flex;column-gap: 18px;box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);background-color: #fff;padding: 10px;border-radius: 20px;align-items: center;}
.contact-details-wrap .address-wrap{display: flex;column-gap: 18px;box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);background-color: #fff;padding: 10px;border-radius: 20px;align-items: center;}
.contact-details-wrap .icon{font-size: 40px;}
.contact-us-wrap .right-wrap{flex:1;}
.contact-us-wrap .contact-banner{display: flex;height:393px;position: relative;width: 100%;}
.contact-us-wrap .contact-banner img{ max-width: 100%; height: auto;position: absolute;object-fit: contain;inset:0;}
.contact-details-wrap .contact-link{color: blue;}
.contact-details-wrap .contact-link .icon{color:red;}
