.contact-wrap{width:100%;max-width:1440px;margin: 0px auto;box-sizing:border-box;padding:20px;display:flex;gap:35px;}
.contact-info{display:flex;flex-direction:column;row-gap:10px;flex:1;}
.contact-info .contact-heading{font-size:24px;line-height:30px;color:black;font-weight:600;}
.contact-info .contact-text{font-size:16px;color:black;margin:0;}
.contact-info .contact-call{display:flex;flex-direction:column;row-gap:10px;}
.contact-info .contact-call .contact-wrap{align-items:center;gap:15px;border-bottom:1px solid skyblue;}
.contact-info .contact-call .contact-wrap span{border:1px solid skyblue;width:36px;height:36px;border-radius:100%;display:flex;align-items:center;justify-content:center;}
.contact-info .contact-call .contact-wrap .heading{font-size:14px;color:black;}
.contact-info .contact-call .contact-wrap .heading .heading-detail{color:black;font-size:16px;letter-spacing: 0.4px;}
.contact-info .map{max-width:681px;margin:40px 0 0;}
.contact-info .map iframe{width:100%;}
.contact-info .form .form-group{width: 100%;display: flex;flex: 1;column-gap: 20px;}
.contact-info .form .form-group .input-form{width:100%;display: flex;flex-direction: column;margin: 0 0 20px;position:relative;}
.contact-info .form .form-group .input-form label{margin:0 0 5px;font-size:16px;color:black;letter-spacing:0.4px;}
.contact-info .form .form-group .input-form .has-input-error{border-color:red !important;}
.contact-info .form .form-group .input-form select{color:black;box-sizing:border-box;font-size:14px;height:40px;padding:6px 12px;letter-spacing: 0.4px;border-radius:6px;width:100%;text-indent: 1px;text-overflow: '';border:1px solid #00000029;box-shadow: 0px 0px 10px #00000029;}
.contact-info .form .form-group .input-form select option{color:black;box-sizing:border-box;font-size:14px;font-family:'Poppins';}
.contact-info .form .form-btn .apply-btn{ padding:0 25px;height:35px;background:black;color:white;border:none;cursor:pointer;border-radius:6px;transition:.2s;}
.contact-info .form .form-btn .apply-btn:hover{background:skyblue;color:#fff;}
@media(max-width:767px){
    .contact-wrap{flex-direction:column-reverse;row-gap:30px !important;}
    .contact-info .contact-call .contact-wrap{flex-direction:row !important;column-gap:10px !important;}
    .contact-info .map{margin:30px 0 0 !important;}
    .contact-info .map iframe{height:300px !important;}
    .contact-info .form .form-group .input-form{margin:0 0 12px !important;}
}
@media (max-width:479px){
    .contact-info{row-gap:4px !important;}
    .contact-info .contact-heading{font-size:20px !important;}
    .contact-info .contact-text{font-size:15px !important;}
    .contact-info .map{margin:25px 0 0 !important;}
    .contact-info .map iframe{height:265px !important}
    .contact-info .contact-call .contact-wrap .heading{width:246px;}
    .contact-info .form .form-group{flex-direction:column !important;}
    .contact-info .form .form-group .input-form{margin:0 0 10px !important;}
    .contact-info .form .form-group .input-form label{font-size:14px !important;}

}